In [53]:
#Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

#Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [55]:
cities_df = pd.read_csv("../output_data/Cities.csv")
cities_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,castro,-24.7911,-50.0119,11.88,76,7,0.43,BR,1657671233
1,bud,39.4470,-86.1758,28.01,56,0,3.45,US,1657671233
2,albany,42.6001,-73.9662,26.49,68,19,0.45,US,1657671014
3,thompson,55.7435,-97.8558,25.70,22,25,0.70,CA,1657671233
4,bandarbeyla,9.4942,50.8122,25.81,70,88,12.00,SO,1657671234

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [56]:
#Configure gmaps
gmaps.configure(api_key = g_key)

#store locations and weight
locations = cities_df[["Latitude", "Longitude"]].astype(float)
humidity = cities_df["Humidity"].astype(float)

In [5]:
#Plot heat map
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)
#Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [58]:
ideal_weather = cities_df.loc[(cities_df["Max Temp"] >= 25) & (cities_df["Max Temp"] < 26) &
                             (cities_df["Wind Speed"] < 5) & (cities_df["Cloudiness"] < 2)]
ideal_weather

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
371,constantine,36.3650,6.6147,25.67,41,0,1.03,DZ,1657671276
522,gijon,43.5357,-5.6615,25.14,95,0,1.34,ES,1657670826

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [59]:
#Store to hotel_df and add the column
hotel_df = ideal_weather
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\Spectre 13 X360\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
371,constantine,36.3650,6.6147,25.67,41,0,1.03,DZ,1657671276,
522,gijon,43.5357,-5.6615,25.14,95,0,1.34,ES,1657670826,

In [61]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for i, row in hotel_df.iterrows():
    lat = row["Latitude"]
    long = row["Longitude"]
    city = row["City"]
    params["location"] = f"{lat},{long}"
    
    response = requests.get(base_url, params=params).json()
    hotel_name = response["results"][0]["name"]
    
    try:
        print(f"The closest hotel in {city} is {hotel_name}")
        hotel_df["Hotel Name"][i] = hotel_name
    except:
        print(f"Hotel not found for {city}")

The closest hotel in constantine is ibis Constantine

C:\Users\Spectre 13 X360\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Spectre 13 X360\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

The closest hotel in gijon is Hotel Begoña Centro

In [62]:
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
371,constantine,36.3650,6.6147,25.67,41,0,1.03,DZ,1657671276,ibis Constantine
522,gijon,43.5357,-5.6615,25.14,95,0,1.34,ES,1657670826,Hotel Begoña Centro

In [63]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [64]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))